.hero {
    text-align: center;
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    color: #572E54;
    text-align: left;
}

.hero h3 {
    font-size: 28px;
    color: #572E54;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero .subtitle {
    font-size: 18px;
    color: #8E7692;
    margin-bottom: 5px;
    text-align: left;
}

.hero p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.description {
    margin: 20px 0;
    text-align: left;
}

.description p {
    margin-bottom: 20px;
}


/* Boutons */

.buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #CEB2BD;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    color: #CEB2BD;
    border: 2px solid #CEB2BD;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}