.hero {
    text-align: center;
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #482A41;
    margin-bottom: 1rem;
}

#intro p {
    text-align: center;
    max-width: 700px;
    font-size: 16px;
}

#intro {
    text-align: center;
    margin-bottom: 2rem;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 13rem);
    justify-items: center;
    justify-content: center;
}

.card {
    width: 190px;
    height: 230px;
    perspective: 1000px;
    margin-bottom: 1rem;
}

.card-inner {
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 12rem;
    height: 14.5rem;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-face img {
    padding-bottom: 1rem;
}

.card-front {
    background-color: #bfafc2;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.card-front i {
    font-size: 30px;
    margin-bottom: 15px;
}

.card-back {
    background-color: #bfafc2;
    color: black;
    transform: rotateY(180deg);
    font-size: 16px;
}