main {
  margin: 70px 80px 75px 80px;
}

/* Conteneur général */

.recommandations-zone {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 4rem 0 3rem 0;
}

/* Une carte par recommandation */

.recommandation-card {
  background-color: white;
  padding: 2.1rem;
  border-radius: 1rem;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  border-left: 5px solid #946ab4;
}

/* Titre de la recommandation */

.recommandation-card h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #482a41;
}

/* Détails */

.recommandation-card p {
  margin: 0.3rem 0;
  color: #482a41;
  font-size: 0.95rem;
  line-height: 1.4;
}
